:root {
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
}

main {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
}

main > * + * {
  margin-top: 1em;
}

button {
  display: block;
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  background-color: #333;
  color: #eee;
  border: none;
}

button:hover {
  cursor: pointer;
}

.task {
  border: 2px solid #cdcdcd;
  padding: 1rem;
}

#task1 ul {
  list-style-type: none;
}

#task1 li {
  width: 25%;
  padding: 1rem;
  border: 1px solid #888;
  background-color: #f4b860;
}

#task1 li:first-child {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#task1 li:last-child {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#task2 > #container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 100%;
  position: relative;
}

#task2 > #container > #square {
  height: 4rem;
  width: 4rem;
  background-color: #555;
}

#task2 > #container > #circle {
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: aqua;
}

#task3 > .box.flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.box.flex > .item {
  flex: 1 1 0;
  border: 1px solid #222;
  border-radius: 0.5em;
  text-align: center;
}

.item.new {
  background-color: #f4b860;
}
