* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250, 1fr));
    padding: 1rem;
    border: 2px solid blue;
    width: 80vw;
    margin: 0 auto;
}

.grid > * {
    height: auto;
    border: 1px solid black;
}  

.item {
    padding: 1rem;
}

.item.wide {
    grid-column: 1/3;
}

.item.middle {
    grid-column: 2/3;
}